:root {
  // Colors
  --black: #000000;
  --white: #ffffff;
  --off-white: #fefefe;
  --red: #d92b3a;
  --xx-light-grey: #f4f4f4;
  --x-light-grey: #eeeeee;
  --light-grey: #cccccc;
  --grey: #999999;
  --dark-grey: #555555;
  --border: rgba(0, 0, 0, 0.12);
  --ripple: rgba(0, 0, 0, 0.3);
  --hover: rgba(0, 0, 0, 0.04);

  // Font Weights
  --fw-regular: 400;
  --fw-bold: 700;
}
